Source: libsam
Priority: extra
Maintainer: Trevor Caira <trevor@caira.com>
Build-Depends: debhelper (>= 5), scons, docbook-xsl, xsltproc
Standards-Version: 3.7.2.2
Section: libs

Package: libsam0
Section: libs
Architecture: any
Depends: libc6
Suggests: gsam
Description: sam interpreter library
 This package provides a fast, portable, and mostly compatible
 replacement for David Levitan and Ivan Gyurdiev’s SaM.

Package: samiam
Section: devel
Architecture: any
Depends: libsam0
Suggests: gsam
Description: text-mode sam interpreter
 This package provides a simple, general purpose text-mode frontend for
 the sam interpreter library libsam.

Package: libsam-dev
Section: libdevel
Architecture: any
Depends: libsam0
Description: sam interpreter library (development headers)
 This package provides a fast, portable, and mostly compatible
 replacement for David Levitan and Ivan Gyurdiev’s SaM.
 .
 This package contains the development headers for the library found in
 libsam0.  Non-developers likely have little use for this package.

