#!/usr/bin/make -f

DEBUG = 0

ifeq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	DEBUG = 1
endif


VERSION=${shell dpkg-parsechangelog | sed -n 's/^Version: *//p'}$

build: build-stamp
build-stamp:
	dh_testdir

	scons debug=$(DEBUG)

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	scons -c scrub
	make -C doc clean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	scons install DESTDIR=$(CURDIR)/debian/tmp


# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install
#	dh_installmenu
	dh_installman
	dh_makeshlibs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
	dh_installdeb
	dh_shlibdeps -L libsam -l debian/libsam0/usr/lib
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
